
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe6a7;
}

.navbar {
    background-color: #6f1d1b;
    color: white;
    padding: 10px;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.navbar a:hover {
    text-decoration: underline; /*i can add change colour too */
}

.container {
    width: 80%;
    max-width: 900px;
    margin: 20px auto; 
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container.thank-you {
    padding: 40px; 
    margin-top: 50px; 
    margin-bottom: 50px;
}

h1 {
    text-align: center;
    color: #6f1d1b;
}

h2 {
    color: #432818;
    margin-bottom: 10px;
}

p {
    text-align: center;
    color: #432818;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #432818;
}

select, input[type="number"], input[type="text"], input[type="email"], textarea {
    width: calc(100% - 20px); 
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #bb9457;
    border-radius: 4px;
    font-size: 14px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #bb9457;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #99582a;
}

footer {

        text-align: center;
        padding: 10px;
        background-color: #6f1d1b;
        color: white;

}


input[type="file"] {
    margin: 15px 0; 
}

textarea#customRequest {
    margin-bottom: 20px; 
}


.section input, .section select {
    width: calc(100% - 40px); /*this might not be best practice, but it works*/
}

input#companyName, input#companyEmail {
    margin-bottom: 20px;
    width: calc(100% - 20px); 
}


.container.thank-you {
    margin-bottom: 60px; 
}
